<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297524310702-itj6i4qp8o4t4lv47bla41ev9cqtfk0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297524310702-itj6i4qp8o4t4lv47bla41ev9cqtfk0g</string>
	<key>API_KEY</key>
	<string>AIzaSyBmHKZTJQ_BBToyuSvUmn7gKdrF6VWAlVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>297524310702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.brickart.theapp</string>
	<key>PROJECT_ID</key>
	<string>brickart-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>brickart-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297524310702:ios:db6eed9e90a6beb5a9b33f</string>
	<key>DATABASE_URL</key>
	<string>https://brickart-app-dev.firebaseio.com</string>
</dict>
</plist>